# Pair Programming ANOVA

`En el pair programming de hoy usaremos el set de datos que guardast茅is en el pair programming de normalizaci贸n y estandarizaci贸n.`

Hasta ahora hab茅is estado evaluando las caracter铆sticas de vuestro set de datos y hab茅is hecho una gran exploraci贸n, es el momento de hacer vuestro primer ANOVA! En el ejercicio de hoy tendr茅is que hacer un ANOVA con vuestro datos y hacer una interpretaci贸n de los resultados.

 NOTA Puede que vuestros datos no se ajusten o no cumplan todas las asunciones, no pasa nada, haced el ANOVA e interpretad los resultados. En pr贸ximas lecciones aprenderemos que podemos hacer cuando nos encontramos en esta situaci贸n.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8)

In [2]:
df = pd.read_csv('../Datos/vinos_norm_estandar.csv', index_col = 0)
df.head(2)

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,mntgoldprods,numdealspurchases,numwebpurchases,numcatalogpurchases,numstorepurchases,numwebvisitsmonth,mnt_total,mnt_total_sin_vino,mntwines_sin_cero,mnt_wines_box
0,5524,1957,Graduation,Single,0.234063,0,0,04-09-2012,0.307039,635,...,0.843207,0.349414,1.409304,2.51089,-0.550785,0.693904,1617,2.011116,635.0,14.026740
1,2174,1954,Graduation,Single,-0.234559,1,1,08-03-2014,-0.383664,11,...,-0.729006,-0.168236,-1.110409,-0.56872,-1.166125,-0.130463,27,-0.845274,11.0,3.141178

> Recordamos en la comprobaci贸n que hicimos de las asunciones para el ANOVA que:
> * No logramos alcanzar la normalidad de la variable respuesta
> * Varias de nuestras variables predictoras son dependientes entre s铆
> * Solo la variable education es homoced谩stica en relaci贸n